html {
	height: 100%;
  background-image: linear-gradient(#6441A4, #79609C)
}	

/* ========== Landing Page ========== */

.landingPage {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -175px;
	margin-left: -175px;
	width: 350px;
	height: 225px;
}

.welcomeh1 {
	color: white;
	font-size: 50px;
	text-align: center;
	margin-bottom:10px;
}

.gitluvh1 {
	color: white;
	font-size: 80px;
	text-align: center;
	margin-top:0;
	margin-bottom:0;
}


.landingPage button {
	width: 150px;
	margin-left: 75px;
}

.landingPage input {
	margin-top: 20px;
	border-radius: 10px;
  margin-left: auto;
  margin-right:auto;
  display:block;
}

/* ========== Profile ========== */

.description {
	text-align: center;
	color: #E2CFEA;
	margin-top:20px;
}

.profile {
	width: 50%;
	margin: 20px auto;
	text-align: center;
	color: white;
}

.profile img {
	height: 150px;
	width: 150px;
	border-radius: 50%;
}

/* ========== Skills ========== */

.skills span {
	display: block;
	text-align: center;
	margin: 0em;
	font-size: 25px;
}

.skill {
	display: inline-block;
	background-color: #6cc644;
	border-radius: 10%;
	color: white;
	margin: 0.4em 0.6em;
	padding: 0.5em 0.7em;
	text-align: center;
}

.button-skillsSelected {
	bottom: 0;
	text-align: center;
	left:50%;
	margin-top: 50px;
	margin-left: auto;
	margin-right:auto;
}
	}
}

/* ========== Sidebar ========== */

.sidebarOpen {
	z-index: 2;
	position: fixed;
	width: 200px;
	height: 100%;
	background-color: white;
	top: 0;
	left: 0;
	transition: left 0.5s;
}

.sidebarClose {
	z-index: 2;
	position: fixed;
	width: 200px;
	height: 100%;
	background-color: white;
	top: 0;
	left: -200px;
	transition: left 0.5s;
}

.sidebarButton {
	position: fixed;
	left: 1em;
	top: 1em;
}
 
.sidebar-button {
	margin: 5px auto;
	display: block;
	width: 115px;
	background-color: #6cc644;
	color: white;
}

.sidebar-button-logout {
	margin: 5px auto;
	display: block;
	width: 115px;
	background-color: #CA3C3C;
	color: white;
}

/*SWIPE PAGE*/

.swipe {
	margin-top: 150px;
}

.buttons {
	text-align: center;
	left:50%;
	margin-top: 50px;
	margin-left: auto;
	margin-right:auto;
}

.project {
	color: #E2CFEA;
	font-size: 30px;
	text-align: center;
	margin-top:0;
	margin-bottom:0;
}

.button-like,
.button-dislike,
.button-profile {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-like {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-dislike {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-profile {
    background: rgb(66, 184, 221); /* this is a light blue */
}
