html {
	height: 100%;
  background-image: linear-gradient(#6441A4, #79609C)
}	

/* ========== Landing Page ========== */

.landingPage {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -175px;
	margin-left: -175px;
	width: 350px;
	height: 225px;
}

.welcomeh1 {
	color: white;
	font-size: 50px;
	text-align: center;
	margin-bottom:10px;
}

.gitluvh1 {
	color: white;
	font-size: 80px;
	text-align: center;
	margin-top:0;
	margin-bottom:0;
}


.landingPage button {
	width: 150px;
	margin-left: 75px;
}

/* ========== Profile ========== */

.description {
	text-align: center;
	color: #E2CFEA;
	margin-top:20px;
}

.profile {
	width: 50%;
	margin: 20px auto;
	text-align: center;
	color: white;
}

.profile img {
	height: 150px;
	width: 150px;
	border-radius: 50%;
}

/* ========== Skills ========== */

.skills span {
	display: block;
	text-align: center;
	margin: 0em;
	font-size: 25px;
}

.skill {
	display: inline-block;
	background-color: #6cc644;
	border-radius: 10%;
	color: white;
	margin: 0.4em 0.6em;
	padding: 0.5em 0.7em;
	text-align: center;
}

/* ========== Sidebar ========== */

img {
	margin-top: 20px;
	border-radius: 10px;
    margin-left: auto;
    margin-right:auto;
    display:block;
}
