html {
  height: 115%;
  background-image: linear-gradient(#002551, #00326c);
}	


/* ========== Landing Page ========== */

.landingPage {
	position: fixed;
	width: 100%;
	height: 100%;
  /*url(http://i.imgur.com/s1ZXO34.gif;);*/
	background-image: url(http://res.cloudinary.com/pashadelic/image/upload/cs_srgb,c_limit,h_1550,w_1550/qinekafjcgtqd8l7u1qq.jpg);
	background-repeat: no-repeat;
	background-size: cover;
    center fixed; 
/*        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;*/
}

.welcomeh1 {
	color: white;
	font-size: 50px;
	text-align: center;
	margin-bottom:10px;
}

.gitluvh1 {
	color: white;
	font-size: 80px;
	text-align: center;
	margin-top:0;
	margin-bottom:0;
}


.landingPage button {
	width: 150px;
	margin-left: 75px;
}

.landingPage input {
	margin-top: 20px;
	border-radius: 10px;
  margin-left: auto;
  margin-right:auto;
  display:block;
}

/* ========== Profile ========== */

.description {
	text-align: center;
	color: slate;
	margin-top:20px;
}

.profile {
	width: 70%;
	margin: 20px auto;
	text-align: center;
	color: black;
	background-color: white;
	box-shadow: 0px 0px 20px black;
	margin-top: 5%;
	padding: 5px;
	border-radius: 2%;
}

.profile-leftPanel {
	padding-left: 5%;
}

.profile-rightPanel {
	padding-right: 5%;
}

.profile img {
	width: 60%;
	border-radius: 50%;
}

.profile th {
	width: 50%;
	padding: 10px 0px;
	margin: 0px;
}

.profile table,tr {
	width: 100%;
}
 
.profile h1 {
	    font-size: 5vw;
    margin: 0px 0px 10px 0px;
}

.profile-location {
	font-style: italic;
	font-size: 2vw;
}

.profile-followers {
	font-size: 1.5vw;
}

.profile-bio {

}

/* ========== Skills ========== */

.skillPageTitle {
	color: white;
	font-size: 50px;
	text-align: center;
	margin-bottom:10px;
}

.button-skillsSelected {
	text-align: center;
	left:50%;
	margin-top: 50px;
	margin-left: auto;
	margin-right:auto;
}

.skills span {
	display: block;
	text-align: center;
	margin: 0em;
	font-size: 25px;
}

.skill {
	display: inline-block;
	background-color: #57BC9A;
	border-radius: 10%;
	color: white;
	margin: 0.4em 0.6em;
	padding: 0.5em 0.7em;
	text-align: center;
	left:50%;
}

.skill-selected {
	display: inline-block;
	background-color: #6cc644;
	border-radius: 10%;
	color: white;
	margin: 0.4em 0.6em;
	padding: 0.5em 0.7em;
	text-align: center;
	left: 50%;
}

.skill-deselected {
	display: inline-block;
	background-color: #CA3C3C;
	border-radius: 10%;
	color: white;
	margin: 0.4em 0.6em;
	padding: 0.5em 0.7em;
	text-align: center;
	left: 50%;
}


/* ========== Sidebar ========== */

.sidebarOpen {
	z-index: 2;
	position: fixed;
	width: 200px;
	height: 100%;
	background-image: linear-gradient(#B24592, #F15F79);
	top: 0;
	left: 0;
	transition: left 0.25s;
	z-index: 0.75;
}

.sidebarClose {
	z-index: 2;
	position: fixed;
	width: 200px;
	height: 100%;
	background-image: linear-gradient(#B24592, #F15F79);
	top: 0;
	left: -200px;
	transition: left 0.25s;
	z-index: 0.75;
}

.sidebarButton {
	position: fixed;
	left: 1em;
	top: 1em;    
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
 
.sidebar-button {
	margin: 5px auto;
	display: block;
	width: 115px;
	background-color: #57BC9A;
	color: white;
}

.sidebar-button-logout {
	margin: 5px auto;
	display: block;
	width: 115px;
	background-color: #900C3F;
	color: white;
}

/*SWIPE PAGE*/

.swipe {
	margin-top: 5%;
}

.buttons {
	text-align: center;
	left:50%;
	margin-top: 50px;
	margin-left: auto;
	margin-right:auto;
}

.project {
	color: dark slate;
	font-size: 30px;
	text-align: center;
	margin-top:0;
	margin-bottom:0;
}

.button-like,
.button-dislike,
.button-profile {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-like {
    background-color: #57BC9A; /* this is a green */
}

.button-dislike {
    background-color: #900C3F; /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-profile {
    background: rgb(66, 184, 221); /* this is a light blue */
}

/* ========== Project ========== */

.createProjectModal {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 1;
}

.createProjectSubmit {
	margin: 5px auto;
	display: block;
	width: 115px;
	background-color: #6cc644;
	color: white;
}

.projectPage {
	width: 50%;
	margin: 20px auto;
	text-align: center;
	color: black;
	margin-top: 5%;
	padding: 5px;
	border-radius: 2%;
}

.modalContent {
	background-color: #eee;
	margin: 5%;
  width: 90%;
  height: 90%;
}

.stageContent {
	color: black;
	position: relative;
	/*top: 45%;
	transform: translateY(-50%);*/
}

.stage {
	padding-top: 40px;
}

.stage > * {
	display: block;
	margin: 10px auto;
}

.projectCancelButton {
	display: inline-block;
	position: fixed;
	top: 10px;
	left: 10px;
	margin: 0px;
	padding: 5px;
}

.projectWarning {
	display: block;
	color: red;
}

.projectWarning-hidden {
	display: none;
}

.skillsSelector div {
	display: inline-block;
	background-color: #6cc644;
	border-radius: 10%;
	color: white;
	margin: 0.4em 0.6em;
	padding: 0.5em 0.7em;
	text-align: center;
}

.loading {
	color: white;
	opacity: 0.9;
	font-size: 30px;
	text-align: center;
	margin-bottom:0;
	margin-top:300px;
}
.landing-text {
	color: #E2CFEA;
	font-size: 30px;
	text-align: center;
	margin-bottom:0;
	margin-top:200px;
}

.currentProject {
	color: black;
	text-align: center;
	width: 40%;
	margin: 10px auto;
	text-align: center;
	color: black;
	background-color: white;
	box-shadow: 0px 0px 20px black;
	margin-top: 5%;
	padding: 5px;
	padding-bottom: 40px;
	border-radius: 2%;
}

.toGithub img{
	width: 35%;
	border-radius: 0;
	/*position: relative;*/
}

/*MENU*/
.custom-wrapper {
    background-color: black;
    margin-bottom: 1em;
    -webkit-font-smoothing: antialiased;
    height: 2.1em;
    overflow: hidden;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    transition: height 0.5s;
}

.custom-wrapper.open {
    height: 14em;
}

.custom-menu-3 {
    text-align: right;
}

.custom-toggle {
    width: 34px;
    height: 34px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.custom-toggle .bar {
    background-color: #777;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 18px;
    right: 7px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.custom-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

.custom-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@media (max-width: 47.999em) {

    .custom-menu-3 {
        text-align: left;
    }

    .custom-toggle {
        display: block;
    }

}

.menu-item {
	color:white;
}

.l-box {
	color:white;
    padding-right: 2.5cm;
}

.menu-links a:hover { 
    background-color: grey;
}

