html {
  height: 115%;
  background-color: #5f66f8;
}	


/* ========== Landing Page ========== */

.landingPage {
	position: fixed;
	width: 100%;
	height: 100%;
	  background-color: #5f66f8;
  /*url(http://i.imgur.com/s1ZXO34.gif;);*/
	/*background-image: url(http://res.cloudinary.com/pashadelic/image/upload/cs_srgb,c_limit,h_1550,w_1550/qinekafjcgtqd8l7u1qq.jpg);*/
	background-repeat: no-repeat;
	background-size: cover;
    center fixed; 
/*        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;*/
}

.welcomeh1 {

color: white;
font-family: 'Rock Salt', cursive;
margin-bottom:10px;
font-size: 40px;

}

.gitluvh1 {
	color: white;
	font-family: 'Pattaya', sans-serif;
	margin-bottom:0;
	font-size:130px;
}


.landingPage button {
	width: 150px;
	margin-left: 75px;
}

.landingPage input {
	margin-top: 20px;
	border-radius: 10px;
  margin-left: auto;
  margin-right:auto;
  display:block;
}

/* ========== Profile ========== */

.description {
	text-align: center;
	color: white;
	margin-bottom:10px;
	font-size: 25px;
font-family: 'Raleway', sans-serif;
}

.profile-right {
	font-family: 'Roboto', sans-serif;
}
.projectDescription {
	text-align: center;
	color: black;
	margin-top:20px;
	font-family: 'Roboto', sans-serif;
}

.profile {
	width: 70%;
	margin: 20px auto;
	text-align: center;
	color: black;
	background-color: white;
	box-shadow: 0px 0px 20px black;
	margin-top: 5%;
	padding: 5px;
	border-radius: 2%;
}

.profile-leftPanel {
	padding-left: 5%;
}

.profile-rightPanel {
	padding-right: 5%;
}

.profile img {
	width: 60%;
	border-radius: 50%;
}

.profile-rightPanel, .profile-leftPanel {
	width: 33%;
	padding: 10px 0px;
	margin: 0px;
}

.profile-middlePanel {
	width: 20%;
}

.profile table,tr {
	width: 100%;
}
 
.profile h1 {
	    font-size: 5vw;
    margin: 0px 0px 10px 0px;
}

.profile-location {
	font-style: italic;
	font-size: 2vw;
}

.profile-followers {
	font-size: 1.5vw;
}

.profile-bio {

}

/* ========== Skills ========== */

.skillPageTitle {
	color: white;
	font-size: 50px;
	text-align: center;
	/*margin-bottom: -1px;*/
	/*margin-bottom:10px;*/
font-family: 'Roboto', sans-serif;

}

.button-skillsSelected {
	text-align: center;
	left:50%;
	/*margin-top: 50px;*/
	margin-left: auto;
	margin-right:auto;
}

.skills span {
	display: block;
	text-align: center;
	margin: 0em;
	font-size: 25px;
}

.skill {
	display: inline-block;
	background-color: #57BC9A;
	/*border-radius: 10%;*/
	color: white;
	margin: 0.4em 0.6em;
	padding: 0.5em 0.7em;
	text-align: center;
	left:50%;
}

.skill-selected {
	display: inline-block;
	background-color: #6cc644;
	/*border-radius: 10%;*/
	color: white;
	margin: 0.4em 0.6em;
	padding: 0.5em 0.7em;
	text-align: center;
	left: 50%;
}

.skill-deselected {
	display: inline-block;
	background-color: #CA3C3C;
	/*border-radius: 10%;*/
	color: white;
	margin: 0.4em 0.6em;
	padding: 0.5em 0.7em;
	text-align: center;
	left: 50%;
}


/* ========== Sidebar ========== */

.sidebarOpen {
	z-index: 2;
	position: fixed;
	width: 200px;
	height: 100%;
	background-image: linear-gradient(#B24592, #F15F79);
	top: 0;
	left: 0;
	transition: left 0.25s;
	z-index: 0.75;
}

.sidebarClose {
	z-index: 2;
	position: fixed;
	width: 200px;
	height: 100%;
	background-image: linear-gradient(#B24592, #F15F79);
	top: 0;
	left: -200px;
	transition: left 0.25s;
	z-index: 0.75;
}

.sidebarButton {
	position: fixed;
	left: 1em;
	top: 1em;    
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
 
.sidebar-button {
	margin: 5px auto;
	display: block;
	width: 115px;
	background-color: #57BC9A;
	color: white;
}

.sidebar-button-logout {
	margin: 5px auto;
	display: block;
	width: 115px;
	background-color: #900C3F;
	color: white;
}

/* ========== Swipe Page ========== */

.visionaryBadge {
	display: block;
	margin-left: auto;
	margin-right: auto
}

.swipe {
	margin-top: 5%;
}

.buttons {
	text-align: center;
	left:50%;
	margin-top: 50px;
	margin-left: auto;
	margin-right:auto;
}

.project {
	color: dark slate;
	font-size: 30px;
	text-align: center;
	margin-top:0;
	margin-bottom:0;
   font-family: 'Roboto', sans-serif;

}

.button-like,
.button-dislike,
.button-profile {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-like {
    background-color: #57BC9A; /* this is a green */
}

.button-dislike {
    background-color: #900C3F; /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-profile {
    background: rgb(66, 184, 221); /* this is a light blue */
}

/* ========== Project ========== */



.react-sanfona{ 
 	text-align: center;
 }

/* projects that are NOT clicked on color
*/.react-sanfona-item{
	color: black
}

.react-sanfona-item-body{
	color: red
}

/*project that IS clicked on color*/
.react-sanfona-item-expanded{
	color: #464ef7
}

/*users who liked project that is clicked on
*/.react-sanfona-item-body-wrapper{
	color: #464ef7
}

.usersWhoLikedTitle {
	color: black;
	font-size: 20px;
	text-align: center;
	margin-bottom:10px;
	font-family: 'Roboto', sans-serif;

}

.projectsPageTitle{
	color: white;
	font-size: 40px;
	text-align: center;
	margin-top:0;
	margin-bottom:0;
	font-family: 'Roboto', sans-serif;

}

.createProjectModal {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 1;
}

.createProjectSubmit {
	margin: 5px auto;
	display: block;
	width: 115px;
	background-color: #6cc644;
	color: white;
}

.projectPage {
	width: 50%;
	margin: 20px auto;
	text-align: center;
	color: black;
	margin-top: 5%;
	padding: 5px;
	border-radius: 2%;
}

.modalContent {
	background-color: #eee;
	margin: 5%;
  width: 90%;
  height: 90%;
}

.stageContent {
	color: black;
	position: relative;
	/*top: 45%;
	transform: translateY(-50%);*/
}

.stage {
	padding-top: 40px;
}

.stage > * {
	display: block;
	margin: 10px auto;
}

.projectCancelButton {
	display: inline-block;
	position: fixed;
	top: 10px;
	left: 10px;
	margin: 0px;
	padding: 5px;
}

.projectWarning {
	display: block;
	color: red;
}

.projectWarning-hidden {
	display: none;
}

.skillsSelector div {
	display: inline-block;
	background-color: #6cc644;
	border-radius: 10%;
	color: white;
	margin: 0.4em 0.6em;
	padding: 0.5em 0.7em;
	text-align: center;
	max-width: ;
}

.loading {
	color: white;
	opacity: 0.9;
	font-size: 30px;
	text-align: center;
	margin-bottom:0;
	margin-top:300px;
	font-family: 'Roboto', sans-serif;

}
.landing-text {
	color: #2f38f6;
	font-size: 30px;
	text-align: center;
	margin-bottom:0;
	margin-top:200px;
}

.currentProject {
	color: black;
	text-align: center;
	width: 40%;
	margin: 10px auto;
	text-align: center;
	background-color: white;
	box-shadow: 0px 0px 20px black;
	margin-top: 5%;
	padding: 5px;
	padding-bottom: 40px;
	border-radius: 2%;
}

.skillSelector {
	color: black;
	text-align: center;
	width: 70%;
	margin: 10px auto;
	text-align: center;
	/*background-color: white;*/
	/*box-shadow: 0px 0px 20px black;*/
/*	margin-top: 5%;
	margin-bottom: 5%;*/
	padding: 5px;
	/*padding-bottom: 40px;*/
	border-radius: 2%;
}

.projectsLiked {
	color: black;
	text-align: center;
	width: 40%;
	margin: 10px auto;
	text-align: center;
	background-color: white;
	box-shadow: 0px 0px 20px black;
	margin-top: 5%;
	padding: 15px;
	border-radius: 2%;
	font-family: 'Roboto', sans-serif;
}
.horizontal-rule {
   display: block;
   height: 1px;
   border: 0;
   border-top: 1px solid #ccc;
   margin: 1em 0;
   padding: 0;
}

.likedUsers {
	text-align: left;
}

.toGithub img{
	width: 35%;
	border-radius: 0;
	/*position: relative;*/
}

/*MENU*/
.custom-wrapper {
    background-color:#464ef7;
    margin-bottom: 1em;
    -webkit-font-smoothing: antialiased;
    height: 2.5em;
    overflow: hidden;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    transition: height 0.5s;
}

.showProjects {
	background-color: #464ef7;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	margin-top: 25px;

}

.custom-wrapper.open {
    height: 19em;
}

.custom-menu-3 {
    text-align: right;
}

.custom-toggle {
    width: 34px;
    height: 34px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.custom-toggle .bar {
    background-color: white;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 18px;
    right: 7px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.custom-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

.custom-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@media (max-width: 47.999em) {

    .custom-menu-3 {
        text-align: left;
    }

    .custom-toggle {
        display: block;
    }

}

.menu-item {
	color:white;
	font-family: 'Roboto', sans-serif;
}

.l-box {
	color:white;
    padding-right: 2.5cm;
    height: 2.5em;
    font-size: 18px;
	font-family: 'Roboto', sans-serif;
}

.menu-links a:hover { 
    background-color: #5f66f8;
    /*text-decoration: underline;*/
}

$primary-color: #03a9f4;
$gray: #ccc;

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: 'Nobile', sans-serif;
}

.demo-container {
  padding: 40px;
  width: 100%;

  h1 {
    border-bottom: 1px solid $gray;
    color: $primary-color;
    margin-bottom: 40px;
    padding-bottom: 40px;
    text-align: center;
  }

  h2 {
    color: $gray;
  }
}

.react-sanfona {
  border: 1px solid $gray;
  border-radius: 3px;
  margin-bottom: 70px;
}

.react-sanfona-item {

  &-title {
    background-color: #fafafa;
    border-top: 1px solid $gray;
    color: #333;
    padding: 20px;
    text-transform: uppercase;
    transition: background-color .3s;
  }

  &:first-child &-title {
    border-top: none;
  }

  &-expanded &-title {
    background-color: $primary-color;
    color: #fff;

    .title-done-btn {
        display: inline-block;
        float: right;
        color: #000;
    }
  }

  &-body-wrapper {
    color: #666;
    padding: 20px;
    position: relative;

    &:hover .tooltip {
      opacity: 1;
    }
  }

  img {
    display: block;
    max-width: 100%;
  }

  .title-done-btn {
      display: none;
  }

}

.tooltip {
  background-color: #000;
  bottom: -10px;
  border-radius: 3px;
  color: #fff;
  left: 10px;
  opacity: 0;
  padding: 10px;
  position: absolute;
  transition: opacity .3s;
}

/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover{
    background-color: #ddd;
}

div.user-liked:hover{
    background-color: #eee;
    transform: scale(1.1);
}


/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 10px 0 10px;
    background-color: white;
    max-height: 0;
    overflow: scroll;
    transition: 0.6s ease-in-out;
    opacity: 0;

}

div.panel.show {
    opacity: 1;
    max-height: 300px;
}

button.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.cardstack {
	width: 500px;
}

.card {
	color: white;
	padding-left: 20px;
}

.user-liked {
	padding-top: 1px;
	padding-bottom: 1px;
	/*margin-bottom: -8px;*/
	padding-left: 20px;
	vertical-align: middle;
	position:relative;
	transition: all .2s ease-in-out;
	
}

.user-liked-username {
	display:inline-block;
}

img.userPhoto {
	border-radius: 100px;
	width: 50px;
	height: 50px;
	display:inline-block;
	float:left;
	margin-right:10px;
	margin-top: 5px;
}

.chat-button {
	float:right;
	display:inline-block;
	margin-top:12px;
	margin-bottom:1px;
	margin-right: 18px;
	background-color: #464ef7;
	color:white;
}




