html {
	height: 100%;
  background-image: linear-gradient(#6441A4, #4A4063)
}	

.landingPage {
	position: fixed;
	top: 50%;
	left: 50%;

	margin-top: -150px;
	margin-left: -150px;
	width: 300px;
	height: 225px;
}

.landingPage h1 {
	color: #E2CFEA;
	font-size: 78px;
	text-align: center;
}

.landingPage button {
	width: 150px;
	margin-left: 75px;
}

.profile {
	width: 50%;
	margin: 20px auto;

	text-align: center;
}

.profile img {
	height: 150px;
	width: 150px;
	border-radius: 50%;
}
